# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://root:root@localhost:3306/auth-nest?schema=public"


# EMAIL
EMAIL_HOST = "sandbox.smtp.mailtrap.io"
EMAIL_USERNAME = "xxxx"
EMAIL_PASSWORD = "xxxx"


# JWT TOKEN
JWT_ACCESS_SECRET = "xxxx"
JWT_REFRESH_SECRET="xxxx"

JWT_EMAIL_VERIFICATION_SECRET="xxxx"