<html lang='id'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Gambar Tidak Ditemukan</title>
    <style>
      body { display: flex; justify-content: center; align-items: center;
      height: 100vh; background-color: #f8d7da; color: #721c24; font-family:
      Arial, sans-serif; } .error-container { text-align: center; }
    </style>
  </head>
  <body>
    <div class='error-container'>
      <h1>400. Itu adalah kesalahan.</h1>
      <p>Klien Anda telah mengeluarkan permintaan yang salah atau tidak sah. Itu
        saja yang kami tahu.</p>
    </div>
  </body>
</html>